# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Environments
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*

# Models
models/*

# OS
.DS_Store
Thumbs.db
