# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Environments
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Project artifacts to ignore
# EDA reports & figures (HTML/CSV/PNGs)
reports/before_preprocessed/

# Figures path you requested
reports/figures/before_preprocessed/
